html,body{
    height: 100%;
    position: relative;
}

#deng4{
    font-size: 4rem;
    position: absolute;
    top:25%;
    width: 100%;
}

#manmandeng{
    position: absolute;
    top:40%;
    width: 100%;
}
#manmandeng .cn{
    font-size: 6rem;
}
#manmandeng .en{
    font-size: 2rem;
}

#askedBy-wrapper{
    position: absolute;
    top:35%;
    width: 100%;

}

#askedBy{
    font-size: 6rem;
    border: 8px solid salmon;
    width:90%;
    max-width: 800px;
    padding:1.5rem;
    background-color: white;
    margin:0 auto;
    word-wrap: break-word;
    word-break: break-all;
}

#share{
    position: absolute;
    top:15px;
    right:15px;
}